/** Navegacion principal **/

.contenedor {
    width: 98%;
    margin: 0 auto;
}

html {
    background-color: #CEECF2;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


/** Barra **/

.barra {
    position: fixed;
    top: 0;
    background-color: teal;
    width: 100vw;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
}


/** Tablero **/

.tablero {
    width: 700px;
    height: 700px;
    background-color: #BF9E75;
}

div.clara {
    background-color: #03A696;
}

div.oscura {
    background-color: #F27052;
}

div.casilla {
    width: 70px;
    height: 70px;
    float: left;
    font-size: 2em;
    text-align: center;
    color: #035E73;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.dama {
    width: 50%;
    height: 50%;
    border-radius: 50%;
    background-color: black;
    box-shadow: 0 0 7px white;
}

div.blanca {
    background-color: white;
    box-shadow: 0 0 7px black;
}