/** Navegacion principal **/

.contenedor {
    width: 98%;
    margin: 0 auto;
}

html {
    background-color: #DDDDDD;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


/** Barra **/

.barra {
    position: fixed;
    top: 0;
    background-color: #D4707A;
    width: 100vw;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navegacion-principal a {
    font-family: 'Oswald', sans-serif;
    color: #ffff;
    font-size: 1.3em;
    text-decoration: none;
    transition: all .6s ease;
    margin-right: 15px;
    padding: 5px;
}

nav.navegacion-principal a:hover {
    background-color: #03A696;
}


/** Tablero **/

.tablero {
    width: 700px;
    height: 700px;
    background-color: #cdcdcd;
}

div.clara {
    background-color: #fff;
}

div.oscura {
    background-color: #333333;
}

div.casilla {
    width: 70px;
    height: 70px;
    float: left;
    font-size: 2em;
    text-align: center;
    color: #035E73;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.dama {
    width: 70%;
    height: 70%;
    border-radius: 50%;
    background-color: #ff6961;
    box-shadow: 0 0 7px lightslategray;
}

div.blanca {
    background-color: #DDDDDD;
    box-shadow: 0 0 7px lightslategray;
}